<launch>

  <param name="use_sim_time" value="true"/>

  <rosparam file="$(find ball_simulator)/config/example.yaml"/>

  <node name="clock" pkg="ball_simulator" type="clock" output="screen"/>

  <node name="ball_simulator" pkg="ball_simulator" type="ball_simulator_node" output="screen">
    <param name="enable_sine_paddle" value="true"/>
  </node>

  <node name="logger" pkg="ball_simulator" type="logger" output="screen"/>

  <node name="session_manager" pkg="ball_simulator" type="session_manager" output="screen"/>

  <include file="$(find ball_simulator)/launch/viewer.launch"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" args="ball_simulator clock"/>

</launch>