
*.~

# Matlab
*.m~
*.slxc
*.asv
*.mex
**/slprj/*
**/sccprj/*
**/tlc/*
*.autosave
*.mlappinstall
*.mltbx
*.dmr
*.rtw

# figure
*.fig
*.png
*.jpg
*.pdf
*.avi

# data
*.mat
*.csv
*.bag

# machine learning
*.ckpt
*.p
