<?xml version="1.0"?>

<launch>
	
  <arg name="kinem_rate" default="1200.0" />
  <arg name="tf_ratio" default="1.0" />
  <arg name="sensor_rate" default="1000.0" />
  <arg name="sensor_ip" default="192.168.1.1" />
  <arg name="grav_comp_rate" default="1000.0" />
  <arg name="sensor_mass" default="0.1096" />
  <arg name="sensor_lever" default="0.0103" />
  <arg name="bias" default="True" />
  
  
  <arg name="P_gain_cmd" default="1" />
  <arg name="I_gain_cmd" default="1" />
  <arg name="Debug_1_axis" default="false" />
  <arg name="Debug_axis_nb" default="4" />
  <arg name="three_axis" default="false" />
  <arg name="two_axis" default="true" />
  
  
  <!-- This delay is necessary to wait for the gravity computation 
  The computation of the bias is achieved in a little more than 1s -->
  <arg name="node_control_delay" default="2.0" /> 
  
  <node name="netft_sensor" pkg="netft_utils" type="netft_node_u" output="screen" args=" --rate $(arg sensor_rate) --address $(arg sensor_ip)"/>

  <node name="endpoint_pose" pkg="youbot_ros_control" type="endpoint" output="screen">
    <param name="tf_ratio" value ="$(arg tf_ratio)"/>
    <param name="rate" value ="$(arg kinem_rate)"/>
  </node>
 
  <node name="gravity_compensation" pkg="youbot_ros_control" type="gravity_comp" output="screen"> 
    <param name="rate" value="$(arg grav_comp_rate)"/>
    <param name="sensor_mass" value="$(arg sensor_mass)"/>
    <param name="sensor_arm_lever" value="$(arg sensor_lever)"/>
    <param name="bias" value="$(arg bias)"/>
    <param name="avg_values" value= "$(arg sensor_rate)"/>
    <remap from="force_sensor/grav_comp" to="force_feedback"/>
  </node> 
  
 
  <node name="control_loop" pkg="youbot_ros_control" type="control_loop" output="screen" launch-prefix="bash -c 'sleep $(arg node_control_delay); $0 $@' ">
    <param name="K_gain" value="$(arg P_gain_cmd)"/>
    <param name="Ki_gain" value="$(arg I_gain_cmd)"/>
    <param name="Debug_single_axis" value="$(arg Debug_1_axis)"/>
    <param name="Debug_sngl_axis_nb" value="$(arg Debug_axis_nb)"/>
    <param name="Three_axis" value="$(arg three_axis)"/>
    <param name="Two_axis" value="$(arg two_axis)"/>
    <remap from="force_sensor/grav_comp" to="force_feedback"/>
  </node> <!--  -->
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find youbot_ros_control)/rviz/robot_transforms.rviz"/> 
  
</launch>
