<?xml version="1.0"?>

<launch>
	
  <arg name="user_ref" default="000" />
	
  <arg name="kinem_rate" default="1500.0" /> <!-- 1500 -->
  <arg name="tf_ratio" default="1.0" />
  <arg name="sensor_rate" default="1500.0" /> <!-- 1500 -->
  <arg name="control_loop_rate" default="1000.0" />
  <arg name="sensor_ip" default="192.168.1.1" />
  <arg name="grav_comp_rate" default="300.0" />
  <arg name="sensor_mass" default="0.1096" />
  <arg name="sensor_lever" default="0.0103" />
  <arg name="bias" default="True" />
  <arg name="dist_mag" default="10." /> <!-- 5. --> 
  <arg name="nb_dist_phase" default="3" />
  <arg name="do_disturbance" default="true" />
  
  <arg name="P_gain_cmd4" default="0.8" /> <!-- 2.3 -->
  <arg name="I_gain_cmd4" default="10" /> <!-- 10 -->
  <arg name="P_gain_cmd3" default="0.4" />
  <arg name="I_gain_cmd3" default="5" />
  <arg name="P_gain_cmd2" default="0.015" /> <!-- 0.004 --> <!-- 0.015 --> <!-- 0.025 -->
  <arg name="I_gain_cmd2" default="0.08" /> <!-- 0.02 --> <!-- 0.08 --> <!-- 0.5 -->
  <arg name="nb_joints" default="3" />

  <arg name="virtual_mechanism_Kx" default="20" /> <!-- 700 -->
  <arg name="virtual_mechanism_Bx" default="70" /> 
  <arg name="virtual_mechanism_Kry" default="50" /> 
  <arg name="virtual_mechanism_Bry" default="5" /> 
  <arg name="virtual_mechanism_x0" default="-0.20" />
  <arg name="virtual_mechanism_ry0" default="1.5708" /> <!-- 90° --> 
  <arg name="prefered_pose_gain" default="5" />
  <arg name="prefered_velocity_gain" default="0.1" />
  
  <!-- This delay is necessary to wait for the gravity estimate. 
  The computation of the bias is achieved in a little more than 1s -->
  <arg name="node_control_delay" default="2.0" /> 
  <arg name="node_record_delay" default="3.0" /> 
  
  <node name="netft_sensor" pkg="netft_utils" type="netft_node_u" output="screen" args=" --rate $(arg sensor_rate) --address $(arg sensor_ip)"/>

  <node name="endpoint_pose" pkg="youbot_ros_control" type="endpoint" output="screen">
    <param name="tf_ratio" value ="$(arg tf_ratio)"/>
    <param name="rate" value ="$(arg kinem_rate)"/>
  </node>
 
  <node name="gravity_compensation" pkg="youbot_ros_control" type="gravity_comp" output="screen"> 
    <param name="rate" value="$(arg grav_comp_rate)"/>
    <param name="sensor_mass" value="$(arg sensor_mass)"/>
    <param name="sensor_arm_lever" value="$(arg sensor_lever)"/>
    <param name="bias" value="$(arg bias)"/>
    <param name="avg_values" value= "$(arg sensor_rate)"/>
    <remap from="force_sensor/grav_comp" to="force_feedback"/>
  </node> 
 
  <node name="control_loop" pkg="youbot_ros_control" type="control_loop" output="screen" launch-prefix="bash -c 'sleep $(arg node_control_delay); $0 $@' ">
    <param name="rate" value="$(arg control_loop_rate)"/>
    <param name="Kp4_gain" value="$(arg P_gain_cmd4)"/>
    <param name="Ki4_gain" value="$(arg I_gain_cmd4)"/>
    <param name="Kp3_gain" value="$(arg P_gain_cmd3)"/>
    <param name="Ki3_gain" value="$(arg I_gain_cmd3)"/>
    <param name="Kp2_gain" value="$(arg P_gain_cmd2)"/>
    <param name="Ki2_gain" value="$(arg I_gain_cmd2)"/>    
    <param name="Nb_joints_ctrl" value="$(arg nb_joints)"/>
    <param name="Stiffness_x" value="$(arg virtual_mechanism_Kx)"/>
    <param name="Damping_x" value="$(arg virtual_mechanism_Bx)"/>
    <param name="Equilibrium_x" value="$(arg virtual_mechanism_x0)"/>
    <param name="Stiffness_ry" value="$(arg virtual_mechanism_Kry)"/>
    <param name="Damping_ry" value="$(arg virtual_mechanism_Bry)"/>
    <param name="Equilibrium_ry" value="$(arg virtual_mechanism_ry0)"/>  
    <param name="Joint_equilibrium_gain" value="$(arg prefered_pose_gain)"/>  
    <param name="Joint_damping_gain" value="$(arg prefered_velocity_gain)"/>
    <param name="Do_disturbance" value="$(arg do_disturbance)" />
    <param name="Disturbance_magnitude" value="$(arg dist_mag)"/>
    <param name="Nb_disturbance_phases" value="$(arg nb_dist_phase)"/>
    <remap from="force_sensor/grav_comp" to="force_feedback"/>
  </node>

  <!--  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find youbot_ros_control)/rviz/robot_transforms.rviz"/> -->
  
  <!-- Motion capture data acquisition -->
  <include file="$(find vrpn_client_ros)/launch/sample.launch" />
 
  <node name="rosbag_record_diag" pkg="rosbag" type="record" 
       args="record -o /home/youbot/catkin_ws/rosbag_exp_may/$(arg user_ref)_l_ball_bouncing /netft_data /vrpn_client_node/robot_marker/pose /joint_states /ball_pose /impulse" launch-prefix="bash -c 'sleep $(arg node_record_delay); $0 $@' "/>
  
</launch>
