#!/usr/bin/env python
PACKAGE = "ball_simulator"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("restitution", double_t, 0, "Ball restitution coefficient", 0.60, 0.0, 1.0)
gen.add("ball_mass", double_t, 0, "Ball mass [Kg]", 10.0, 0.0, 100.0)
gen.add("paddle_mass", double_t, 0, "Paddle mass [Kg]", 1.0, 0.0, 100.0)
gen.add("scale", double_t, 0, "Paddle motion scaling coefficient", 1.0, 0.0, 10.0)
gen.add("gravity", double_t, 0, "Simulation gravity [N]", 9.81, 0.0, 100.0)
gen.add("radius", double_t, 0, "Ball radius [m]", 0.05, 0.001, 1.0)
gen.add("target_height", double_t, 0, "Target height [m]", 2.0, -10.0, 10.0)
gen.add("paddle_frequency", double_t, 0, "Paddle oscillation frequency [Hz]", 0.5, 0.0, 10.0)
gen.add("paddle_amplitude", double_t, 0, "Paddle oscillation amplitude [m]", 0.3, 0.0, 1.0)
gen.add("enable_sine_paddle", bool_t, 0, "Enable the oscillating paddle", False)

exit(gen.generate(PACKAGE, PACKAGE, "BallSimulator"))