#!/usr/bin/env python
PACKAGE = "ball_simulator"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("use_step", bool_t, 0, "Use step", False)
gen.add("step", double_t, 0, "Stepping time [s]", 0.06, 0.0, 1.0)
gen.add("ratio", double_t, 0, "Relative speed of simulation time over real time", 1.0, 0.0, 10.0)

exit(gen.generate(PACKAGE, PACKAGE, "Clock"))